
                <div class="box-body table-responsive no-padding listns">
                  <table class="table table-hover">
                  
                      <th  class="stt"  {% if error is defined %} label="{{error}}" {% else %} label='2' {% endif%}  >STT</th>
                      <th>Mã nhân viên</th>
                      <th>Họ tên</th>
                      <th>Ngày sinh</th>
                      <th>Giới tính</th>
                      <th>Hành động</th>
                
                     {% if user_pagi is defined %}
                   {% for u in user_pagi %}
                  
                    <tr>
                 
                      <td >{{loop.index}} </td>

                      <td>{{u.manv}}</td>
                      <td>{{u.ho}} {{u.ten}}</td>
                      <td>{{u.ngaysinh|date("m/d/Y")}}</td>
                      <td>{{u.gioitinh}}</td>

                      <td>
                      
                        <button class="btn btn-info" onclick="window.location='/user/info/{{u.id}}'" >
                          <i class="fa fa-info-circle"></i>
                        </button>
                        <button class="btn btn-warning"  onclick="window.location='/user/edit/{{u.id}}'" >
                          <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger delete-user"data-toggle="modal" data-id="{{u.id}}" data-target="#myModal">
                          <i class="fa fa-trash-o"></i>
                        </button>
                         <!-- Modal delete -->
        <div class="modal modal-danger fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Thông báo</h4>
                    </div>
                    <div class="modal-body">
                        <p>Bạn đồng ý hành động?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="confirmCancel">Đóng</button>
                        <button type="button" data-id="" {% if page is defined %} label='{{page}}'{% else %} label='' {% endif %}  class="btn btn-outline" id="confirmOk" data-dismiss="modal" >Xác nhận</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->


                      </td>
                    </tr>
                {%endfor%} 
                {%endif%}
        </div>   
                  </table>
                  {% if user_pagi is defined %}
                  {% if user_pagi.haveToPaginate %}
                  
                  <div class="box-footer clearfix">
                      <ul class="pagination pagination-sm no-margin pull-right">
                        {% for value in user_pagi.links(5)%}
                          <li><a href="{{path('index')}}?page={{value}}" {% if page is defined %}  {% if page==value %} 
                            style="border-color: cornflowerblue;" {% endif %}  {% else %}
                            {% if value==1 %} 
                              style="border-color: cornflowerblue;"{% endif %} {% endif %}>{{value}}</a></li>
                        {%endfor%}
                      </ul>
                    </div>
                  
                  {%endif%}
                  {%endif%}
                  <div class="col-md-4 "></div>
                    <div class="col-md-3">
                       <div class="notiSearch "  style="display: none;">
                        
                         
                            <h5  id="messSearch"></h5>
                          <!-- /.box-body -->
                </div>
                </div>
   



       


                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
          </div>
         <button  class="btn btn-primary back_primary" id="back-search" style="display: none"><i class="fa fa-fast-backward"></i></button>    
    </section>
  </div>
  <!-- /.content-wrapper -->