<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<base href="{{ asset('bundles/app/')}}">
	{% include '@App/templates/linktag.html.twig' %}
</head>
<body>
	<header id="header" class="header" style="background-color: #3c8dbc; width: 100%;height: 50px;">	
	</header><!-- /header -->
	<section class="content">
		{% block content %}
		{% endblock %}
        {% if notiAcc is defined %}
        	{% block notify %}{% endblock %}
		{% endif %}
	</section>
	{% include '@App/templates/scripttag.html.twig' %}
</body>
</html>