<header class="main-header">
    <!-- Logo -->
   
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img {%if img is defined %}  src="../../userfiles/{{img}}" {% endif %} class="user-image" alt="User Image">
             {%if acc is defined %} <span class="hidden-xs">{{acc}}</span>{% endif %}
            </a>
           
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="/logout" ><i class="fa fa-sign-out" style="font-size: 18px;"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>