 <div class="col-md-4">
  </div>
<div class="col-md-4 login">
		
          <!-- Horizontal Form -->
           <div class="box box-primary box-solid">
            <div class="box-header with-border titleform">
              <h3 class="box-title"> Đăng nhập</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form action="{{path('login')}}" method="post">
              <div class="box-body register">
                <div class="form-group">
                  <label for="exampleInputEmail1">Tài khoản</label>
                  <span class="error">*   {%if errors['account'] is defined %}{{errors['account']}} {%endif%}</span>
                  <input type="text" class="form-control" name="account" placeholder="Tài khoản" {%if acc is defined %} value="{{acc}}"  {%endif%}>
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mật khẩu</label>
                  <span class="error">*   {%if errors['password'] is defined %}{{errors['password']}} {%endif%}</span>
                  <input type="password" class="form-control" name="password" placeholder="Password">
                 
                </div>
                <br>
                <div class="form-group">
                 
              </div>
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-10">
                    <p> <a href="/forgetacc">Quên tài khoản ? </a>|<a href="/forgetpass">  Quên mật khẩu ?</a></p>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <p>Bạn chưa có tài khoản ? </p>  <a type="button"class="btn btn-default"  href="/register"> Đăng ký </a>
                <button type="submit" class="btn btn-primary pull-right">Đăng nhập</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->

   
	</div>