{% extends '@App/templates/template.html.twig'%}
{% block title %} Thêm nhân sự {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <style>
    .error{ color:red;}
    input.radio-btn {  margin: 10px;}
  </style>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Thêm nhân sự
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Thêm nhân sự</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->


    <form action="{{ path('user_add')}}" method="post" accept-charset="utf-8"  enctype="multipart/form-data"> 
      <div class="box box-primary box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Thông tin chung</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div class="form-group col-md-4">
            <label for="inputAddress">Mã nhân viên</label>
            <input type="text" class="form-control" id="maNV" name="maNV" placeholder="Nhập mã nhân viên" value="{{manv}}" readonly>

          </div>
          <div class="form-group col-md-4">
           <label for="inputAddress">Họ</label>
           <span class="error">*   {%if errors['ho'] is defined %}{{errors['ho']}} {%endif%}</span>
           <input type="text" name="ho" class="form-control" id="ho" placeholder="Nhập họ"  {%if user is defined %} value="{{user.ho}}" {%endif%} >

         </div>
         <div class="form-group col-md-4">
          <label for="inputAddress">Tên</label>
          <span class="error">*   {%if errors['ten'] is defined %}{{errors['ten']}} {%endif%}</span>
          <input type="text" class="form-control" name="ten" id="ten" placeholder="Nhập tên"  {%if user is defined %} value="{{user.ten}}" {%endif%}>

        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Giới tính</label>

          <br>
          <input class="radio-btn" type="radio" name="gioitinh" value="Nam"  {%if user is defined %}     {% if user.gioitinh == 'Nam'%}checked {%endif%} {%endif%} >Nam
          <input   class="radio-btn" type="radio" name="gioitinh" value="Nữ"  {%if user is defined %}    {% if user.gioitinh == 'Nữ'%}checked {%endif%} {%endif%}>Nữ
          <input  class="radio-btn" type="radio" name="gioitinh" value="Khác"  {%if user is defined %}    {% if user.gioitinh == 'Khác'%}checked {%endif%} {%endif%}>Khác
        </div>

        <div class="form-group col-md-4">  
          <label for="inputAddress">Ngày sinh</label>
          <span class="error">*   {%if errors['ngaysinh'] is defined %}{{errors['ngaysinh']}} {%endif%}</span>
          <input type="date" class="form-control" name="ngaysinh" placeholder="Ngày Ngày sinh"
          {%if user is defined %}  value="{{user.ngaysinh|date('Y-m-d')}}" {%endif%} >

        </div> 
        <div class="form-group col-md-4">
         <label for="inputAddress">Quốc tịch</label>

         <input type="text" class="form-control" name="quoctich" placeholder="Nhập Quốc tịch"
         {%if user is defined %} value="{{user.quoctich}}" {%endif%}>


       </div>

       <div class="form-group col-md-4">
        <label for="inputAddress">Dân tộc</label>
        <input type="text" class="form-control" name="dantoc" placeholder="Nhập Dân tộc" {%if user is defined %} value="{{user.dantoc}}" {%endif%}>

      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Tôn Giáo</label>
        <input type="text" class="form-control" name="tongiao" placeholder="Nhập Tôn Giáo"  {%if user is defined %} value="{{user.tongiao}}" {%endif%}>
      </div>

      <div class="form-group col-md-4">

        <label for="inputAddress">Số CMND</label>

        <input type="text" class="form-control" name="soCMND " placeholder="Nhập số  CMND"  {%if user is defined %} value="{{user.socmnd}}" {%endif%} >


      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Ngày cấp</label>

        <input type="date" class="form-control" name="ngaycap"  {%if user is defined %} value="{{user.ngaycap|date('Y-m-d')}}" {%endif%} >
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Nơi cấp</label>
        <input type="text" class="form-control" name="noicap" placeholder="Nhập nơi cấp" {%if user is defined %} value="{{user.noicap}}" {%endif%}>
      </div>

      <div class="form-group col-md-4">
        <label for="inputZip">Ảnh cá nhân</label>
        <span class="error">*   {%if errors['anh'] is defined %}{{errors['anh']}} {%endif%}</span>
        <input type="file" class="form-control" name="anh" {%if user is defined %} value="{{user.anh}}" {%endif%}" >
      </div>
    </div>


  </div>
  <!-- /.box-body -->
  <div class="box box-primary box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Thông tin liên lạc</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">

     <div class="form-group col-md-6">
      <label for="inputAddress">Di động</label>
      <span class="error">*   {%if errors['didong'] is defined %}{{errors['didong']}} {%endif%}</span>
      <input type="text" class="form-control" name="didong" placeholder="" {%if user is defined %} value="{{user.didong}}" {%endif%}">

    </div>
    <div class="form-group col-md-6 ">

      <label for="inputEmail4">Email</label>
      <span class="error">*   {%if errors['email'] is defined %}{{errors['email']}} {%endif%}</span>
      <input type="email" class="form-control" name="email" placeholder="Email" {%if user is defined %} value="{{user.email}}" {%endif%} >


    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Skype</label>
      <input type="text" class="form-control" name="skype" placeholder=""{%if user is defined %} value="{{user.skype}}" {%endif%} >
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">Facebook</label>
      <input type="text" class="form-control" name="facebook" placeholder=""{%if user is defined %} value="{{user.facebook}}" {%endif%} >
    </div>

    <div class="form-group col-md-12"><h4> Địa chỉ cư trú:</h4></div>

    <div class="form-group col-md-4">
      <label for="inputState">Quốc gia</label>
      <select id="quocgia"  name="quocgia" class="form-control select2 " label= ""{%if user is defined %} value="{{user.quocgia}}" {%endif%} >
        <option>Chọn</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Tỉnh/thành</label>
      <select id="tinh" name="tinhthanh"class="form-control select2 "label=""{%if user is defined %} value="{{user.tinhthanh}}" {%endif%}  >
        <option>Chọn</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Quận/huyện</label>
      <select id="quanhuyen" id="quanhuyen" name="quanhuyen" class="form-control select2 " label=""{%if user is defined %} value="{{user.quanhuyen}}" {%endif%} >
        <option>Chọn</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Phường/xã</label>
      <select id="phuongxa" name="phuongxa"  class="form-control select2 " label="" {%if user is defined %} value="{{user.phuongxa}}" {%endif%} ">
        <option>Chọn</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputAddress">Thông tin khác của địa chỉ</label>
      <input type="text" class="form-control" name="ttkhac" placeholder="số nhà, tên đường,…"{%if user is defined %} value="{{user.ttkhac}}" {%endif%} >
    </div>

  </div>


</div>
<!-- /.box-body -->
<div class="box box-primary box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Thông tin về đặc điểm bản thân</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="form-group col-md-4">
      <label for="inputAddress">Tình trạng hôn nhân</label>
      <select name="honnhan" class="form-control"{%if user is defined %} value="{{user.honnhan}}" {%endif%}  >
        <option value="Độc thân" selected>Độc thân</option>
        <option value="Đã kết hôn"> Đã kết hôn</option>
        <option value="Đã ly hôn">Đã ly hôn</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputAddress">Chiều cao</label>
      <input type="text" class="form-control" name="chieucao" placeholder="" {%if user is defined %} value="{{user.chieucao}}" {%endif%} >
    </div>

    <div class="form-group col-md-4">
      <label for="inputAddress">Nhóm máu</label>
      <input type="text" class="form-control" name="nhommau" placeholder="  O,A,B..." {%if user is defined %} value="{{user.nhommau}}" {%endif%} >
    </div>

    <div class="form-group col-md-4">
      <label for="inputAddress">Thành phần xuất thân</label>
      <input type="text" class="form-control" name="xuatthan" placeholder=""{%if user is defined %} value="{{user.xuatthan}}" {%endif%} >
    </div>
    <div class="form-group col-md-4">
      <label for="inputAddress">sở thích của cá nhân</label>
      <input type="text" class="form-control" name="sothich" placeholder=""{%if user is defined %} value="{{user.sothich}}" {%endif%} >
    </div>
  </div>
</div>
<!-- /.box-body -->  
<div class="box box-primary box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Thông tin về trình độ, kỹ năng nghề nghiệp</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body  ">
    <div class="form-group col-md-12"><h4> Trình độ học vấn : </h4></div>
    <div class="trinhdohocvan">
      {% if daotao is defined %}
      {% for daotao in daotao %}
      <div class="daotao ">
       <div class="form-group col-md-5">
        <label for="inputAddress"> Trình độ đào tạo</label>
        <input type="text" class="form-control" name="daotao[]" placeholder=" Đại học, Cao đẳng, Trung cấp,…" value="{{daotao}}">
      </div>

      <div class="form-group col-md-6">
        <label for="inputAddress">Ngành đào tạo</label> 
        <input type="text" class="form-control" name="nganh[]" placeholder="Nhập ngành"
        {%if nganh[loop.index0] is defined %} value="{{nganh[loop.index0]}}" {%endif%}>
      </div>
      {% if loop.index0 ==0 %}
      <button type="button" id="adddaotao" class="btn plus"><i class="fa fa-plus"></i></button>
      
      {% else %}
      <button type="button" id="removedaotao" class="btn plus"><i class="fa fa-minus"></i></button>
      {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <div class="daotao ">
     <div class="form-group col-md-5">
      <label for="inputAddress"> Trình độ đào tạo</label>
      <input type="text" class="form-control" name="daotao[]" placeholder=" Đại học, Cao đẳng, Trung cấp,…"value=""  >
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress">Ngành đào tạo</label>
      <input type="text" class="form-control" name="nganh[]" placeholder="Nhập ngành" value="">
    </div>
    <button type="button" id="adddaotao" class="btn plus"><i class="fa fa-plus"></i></button>
  </div>
  {% endif %}


</div>
<br>
<div class="form-group col-md-12"><h4> Trình độ ngoại ngữ : </h4></div>
<div class="trinhdongoaingu">
  {% if ngoaingu is defined %}
  {% for ngoaingu in ngoaingu %}
  <div class="ngoaingu">
    <div class="form-group col-md-5">
      <label for="inputAddress">Ngoại ngữ</label>
      <input type="text" class="form-control" name="ngoaingu[]" placeholder="biết những ngoại ngữ nào" value="{{ngoaingu}}" >
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress"> Trình độ ngoại ngữ</label>
    
      <input type="text" class="form-control" name="trinhdo[]" placeholder=" Đại học, Cao đẳng, Trung cấp,…" {%if trinhdo[loop.index0] is defined %} value="{{trinhdo[loop.index0]}}" {%endif%} >
    </div>
    {% if loop.index0 ==0 %}
    <button type="button" id="addngoaingu" class="btn plus "><i class="fa fa-plus"></i></button>
    {% else %}

    <button type="button" id="removengoaingu" class="btn plus"><i class="fa fa-minus"></i></button>
    {% endif %}

  </div>
  {% endfor %}
  {%else%}

  <div class="ngoaingu">
    <div class="form-group col-md-5">
      <label for="inputAddress">Ngoại ngữ</label>
      <input type="text" class="form-control" name="ngoaingu[]" placeholder="biết những ngoại ngữ nào"value=""  >
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress"> Trình độ ngoại ngữ</label>
      <input type="text" class="form-control" name="trinhdo[]" placeholder=" Đại học, Cao đẳng, Trung cấp,…"value=""  >
    </div>
    <button type="button" id="addngoaingu" class="btn plus "><i class="fa fa-plus"></i></button>


  </div>
  {% endif %}

</div>




</div>
</div>
<div class="box box-primary box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Quan hệ nhân thân</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>

    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body mqh ">
    {% if user is defined %}
    {% for mqh in mqh %}
    
    <div class="moiquanhe ">

      <div class="form-group col-md-3">
        <label for="inputAddress">Mối quan hệ </label>


        <input type="text" class="form-control" name="moiquanhe[]" placeholder="Cha, mẹ, vợ,…" value="{{mqh}}">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress"> Họ và tên</label>
        <input type="text" class="form-control" name="hoten[]" placeholder="Họ và tên" 
        {% if hoten[loop.index0] is defined %} value="{{hoten[loop.index0]}}" {% endif %}>
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Địa chỉ liên hệ</label>
        <input type="text" class="form-control" name="diachi[]" placeholder="Địa chỉ liên hệ"value="{{diachi[loop.index0]}}">
      </div>
      {% if loop.index0 ==0 %}
      <button type="button" id="addmoiquanhe" class="btn plus"><i class="fa fa-plus"></i></button>

      {% else %}
      <button type="button" id="removemoiquanhe"class="btn plus"><i class="fa fa-minus"></i></button>
      {% endif%}
    </div>
    {% endfor%}
    {% else %}
    <div class="moiquanhe ">

      <div class="form-group col-md-3">
        <label for="inputAddress">Mối quan hệ </label>


        <input type="text" class="form-control" name="moiquanhe[]" placeholder="Cha, mẹ, vợ,…" value="">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress"> Họ và tên</label>
        <input type="text" class="form-control" name="hoten[]" placeholder="Họ và tên" value="">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Địa chỉ liên hệ</label>
        <input type="text" class="form-control" name="diachi[]" placeholder="Địa chỉ liên hệ"value="">
      </div>
      <button type="button" id="addmoiquanhe" class="btn plus"><i class="fa fa-plus"></i></button>

    </div>

    {% endif%}
    


  </div>
</div>
<!-- /.box-body --> 
<a  class="btn btn-info back" href="/index"> Trở về</a> 
<button type="submit" id="submit" value="submit" class="btn btn-success save">Lưu</button>
</form>
</div>  <!-- /row -->

</section>

</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block leftslidebar %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
  <li class="header"></li>
  <li class="active treeview">
    <a href="#">
      <i class="fa fa-dashboard"></i> <span>Quản lý nhân sự</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/index"><i class="fa fa-circle-o"></i> Danh sách nhân sự</a></li>
      <li class="active"><a href="/user/add"><i class="fa fa-circle-o"></i> Thêm nhân sự</a></li>
    </ul>
  </li>
</ul>

{% endblock %}

