{% extends '@App/templates/template.html.twig'%}
{% block title %} Sửa nhân sự {% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <style>
    .error{ color:red;}
    input.radio-btn {  margin: 10px;}

  </style>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Sửa nhân sự
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Danh sách nhân sự</li>
        <li class="active">Sửa nhân sự</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
   
     
            
    <form action="{{ path('user_edit',{'id' : user.id })}}" method="post"  enctype="multipart/form-data" accept-charset="utf-8"> 
      <div class="box box-primary box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Thông tin chung</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div class="form-group col-md-4">
            <label for="inputAddress">Mã nhân viên</label>
            <input type="text" class="form-control" id="maNV" name="maNV" placeholder="Nhập mã nhân viên" readonly value="{{user.manv}}">

          </div>
          <div class="form-group col-md-4">
           <label for="inputAddress">Họ</label>
            <span class="error">*   {%if errors['ho'] is defined %}{{errors['ho']}} {%endif%}</span>
           <input type="text" name="ho" class="form-control" id="ho" placeholder="Nhập họ" value="{{user.ho}}">

         </div>
         <div class="form-group col-md-4">
          <label for="inputAddress">Tên</label>
          <span class="error">*   {%if errors['ten'] is defined %}{{errors['ten']}} {%endif%}</span>
          <input type="text" class="form-control" name="ten" id="ten" placeholder="Nhập tên" value="{{user.ten}}">

        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Giới tính</label>
         
          <br>
          <input class="radio-btn" type="radio" name="gioitinh" value="Nam"
           {% if user.gioitinh == 'Nam'%}checked {%endif%}>Nam
          <input   class="radio-btn" type="radio" name="gioitinh" value="Nữ" {% if user.gioitinh == 'Nữ'%}checked {%endif%}>Nữ
          <input  class="radio-btn" type="radio" name="gioitinh" value="Khác" {% if user.gioitinh == 'Khác'%}checked {%endif%}>Khác


        </div>

        <div class="form-group col-md-4">  
          <label for="inputAddress">Ngày sinh</label>
          <input type="date" class="form-control" name="ngaysinh" placeholder="Ngày Ngày sinh" value="{{user.ngaysinh|date('Y-m-d')}}">


        </div> 
        <div class="form-group col-md-4">
         <label for="inputAddress">Quốc tịch</label>
        
         <input type="text" class="form-control" name="quoctich" placeholder="Nhập Quốc tịch"value="{{user.quoctich}}">


       </div>

       <div class="form-group col-md-4">
        <label for="inputAddress">Dân tộc</label>
        <input type="text" class="form-control" name="dantoc" placeholder="Nhập Dân tộc"value="{{user.dantoc}}">

      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Tôn Giáo</label>
        <input type="text" class="form-control" name="tongiao" placeholder="Nhập Tôn Giáo"value="{{user.tongiao}}" >
      </div>

      <div class="form-group col-md-4">

        <label for="inputAddress">Số CMND</label>

        <input type="text" class="form-control" name="soCMND " placeholder="Nhập số  CMND" value="{{user.socmnd}}" >


      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Ngày cấp</label>
        <input type="date" class="form-control" name="ngaycap"value="{{user.ngaycap|date('Y-m-d')}}" >
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Nơi cấp</label>
        <input type="text" class="form-control" name="noicap" placeholder="Nhập nơi cấp"value="{{user.noicap}}">
      </div>

      <div class="form-group col-md-4">
        <label for="inputZip">Ảnh cá nhân</label>  <img src="../../userfiles/{{user.anh}}"  alt="" style="width: 50px;height: 50px;margin-left: 5%;">
       <input type="file" class="form-control" name="anh">

      </div>
    </div>


  </div>
  <!-- /.box-body -->
  <div class="box box-primary box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Thông tin liên lạc</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">

     <div class="form-group col-md-6">
      <label for="inputAddress">Di động</label>
         <span class="error">*   {%if errors['didong'] is defined %}{{errors['didong']}} {%endif%}</span>
     <input type="text" class="form-control" name="didong" placeholder="" value="{{user.didong}}">

    </div>
    <div class="form-group col-md-6 ">

      <label for="inputEmail4">Email</label>
       <span class="error">*   {%if errors['email'] is defined %}{{errors['email']}} {%endif%}</span>
     <input type="email" class="form-control" name="email" placeholder="Email" value="{{user.email}}">

    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Skype</label>
      <input type="text" class="form-control" name="skype" placeholder="" value="{{user.skype}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">Facebook</label>
      <input type="text" class="form-control" name="facebook" placeholder="" value="{{user.facebook}}">
    </div>

    <div class="form-group col-md-12"><h4> Địa chỉ cư trú:</h4></div>

    <div class="form-group col-md-4">
      <label for="inputState">Quốc gia</label>
      <select id="quocgia"  name="quocgia" class="form-control select2 " label= "{{user.quocgia}}" value="{{user.quocgia}}">
        <option {% if user.quocgia!=null %} value="{{user.quocgia}}" {%else%}  value="" {% endif %}>Chọn</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Tỉnh/thành</label>
      <select id="tinh" name="tinhthanh"class="form-control select2 "label="{{user.tinhthanh}}"  >

        <option {% if user.tinhthanh!=null %} value="{{user.tinhthanh}}" {%else%}  value="" {% endif %}>Chọn</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Quận/huyện</label>
      <select id="quanhuyen" id="quanhuyen" name="quanhuyen" class="form-control select2 " label="{{user.quanhuyen}}">
        <option {% if user.quanhuyen!=null %} value="{{user.quanhuyen}}" {%else%}  value="" {% endif %}>Chọn</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Phường/xã</label>
      <select id="phuongxa" name="phuongxa"  class="form-control select2 " label="{{user.phuongxa}}" >
        <option {% if user.phuongxa!=null %} value="{{user.phuongxa}}" {%else%}  value="" {% endif %}>Chọn</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputAddress">Thông tin khác của địa chỉ</label>
      <input type="text" class="form-control" name="ttkhac" placeholder="số nhà, tên đường,…" value="{{user.ttkhac}}"> 
    </div>

  </div>


</div>
<!-- /.box-body -->
<div class="box box-primary box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Thông tin về đặc điểm bản thân</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="form-group col-md-4">
      <label for="inputAddress">Tình trạng hôn nhân</label>
      <select name="honnhan" class="form-control" value="{{user.honnhan}}">
        <option value="Độc thân" selected>Độc thân</option>
        <option value="Đã kết hôn"> Đã kết hôn</option>
        <option value="Đã ly hôn">Đã ly hôn</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputAddress">Chiều cao</label>
      <input type="text" class="form-control" name="chieucao" placeholder="" value="{{user.chieucao}}">
    </div>

    <div class="form-group col-md-4">
      <label for="inputAddress">Nhóm máu</label>
      <input type="text" class="form-control" name="nhommau" placeholder="  O,A,B..." value="{{user.nhommau}}">
    </div>

    <div class="form-group col-md-4">
      <label for="inputAddress">Thành phần xuất thân</label>
      <input type="text" class="form-control" name="xuatthan" placeholder="" value="{{user.xuatthan}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputAddress">sở thích của cá nhân</label>
      <input type="text" class="form-control" name="sothich" placeholder="" value="{{user.sothich}}">
    </div>
  </div>
</div>
<!-- /.box-body -->  
<div class="box box-primary box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Thông tin về trình độ, kỹ năng nghề nghiệp</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body  ">
    <div class="form-group col-md-12"><h4> Trình độ học vấn : </h4></div>
    <div class="trinhdohocvan">
      {% if daotao is defined %}
      {% for daotao in daotao %}
      <div class="daotao ">
       <div class="form-group col-md-5">
        <label for="inputAddress"> Trình độ đào tạo</label>
        <input type="text" class="form-control" name="daotao[]" placeholder=" Đại học, Cao đẳng, Trung cấp,…" value="{{daotao}}">
      </div>

      <div class="form-group col-md-6">
        <label for="inputAddress">Ngành đào tạo</label>
        <input type="text" class="form-control" name="nganh[]" placeholder="Nhập ngành"
        {%if nganh[loop.index0] is defined %} value="{{nganh[loop.index0]}}" {%endif%}>
      </div>
    
    {% if loop.index0 ==0 %}
    <button type="button" id="adddaotao" class="btn plus"><i class="fa fa-plus"></i></button>

    {% else %}
    <button type="button" id="removedaotao" class="btn plus"><i class="fa fa-minus"></i></button>
    {% endif %}
</div>
  {% endfor %}
  {% else %}
  <div class="daotao ">
   <div class="form-group col-md-5">
    <label for="inputAddress"> Trình độ đào tạo</label>
    <input type="text" class="form-control" name="daotao[]" placeholder=" Đại học, Cao đẳng, Trung cấp,…" {%if daotao is defined %} value="{{daotao}}" {%endif%}>
  </div>

  <div class="form-group col-md-6">
    <label for="inputAddress">Ngành đào tạo</label>
    <input type="text" class="form-control" name="nganh[]" placeholder="Nhập ngành"
    {%if nganh is defined %} value="{{nganh}}" {%endif%}>
  </div>

  <button type="button" id="adddaotao" class="btn plus"><i class="fa fa-plus"></i></button>
</div>
{% endif %}
</div>


<div class="form-group col-md-12"><h4> Trình độ ngoại ngữ : </h4></div>
<div class="trinhdongoaingu">
  {% if ngoaingu is defined %}
  {% for ngoaingu in ngoaingu %}
  <div class="ngoaingu">
    <div class="form-group col-md-5">
      <label for="inputAddress">Ngoại ngữ</label>
      <input type="text" class="form-control" name="ngoaingu[]" placeholder="biết những ngoại ngữ nào" value="{{ngoaingu}}" >
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress"> Trình độ ngoại ngữ</label>
      <input type="text" class="form-control" name="trinhdo[]" placeholder=" Đại học, Cao đẳng, Trung cấp,…"  {% if trinhdo[loop.index0] is defined %} value="{{trinhdo[loop.index0]}}" {% endif %} >
    </div>
    {% if loop.index0 ==0 %}
    <button type="button" id="addngoaingu" class="btn plus "><i class="fa fa-plus"></i></button>
    {% else %}

    <button type="button" id="removengoaingu" class="btn plus"><i class="fa fa-minus"></i></button>
    {% endif %}

  </div>
  {% endfor %}
  {% else %}

  <div class="ngoaingu">
    <div class="form-group col-md-5">
      <label for="inputAddress">Ngoại ngữ</label>
      <input type="text" class="form-control" name="ngoaingu[]" placeholder="biết những ngoại ngữ nào"  {% if ngoaingu is defined %} value="{{ngoaingu}}" {% endif %}>
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress"> Trình độ ngoại ngữ</label>
      <input type="text" class="form-control" name="trinhdo[]" placeholder=" Đại học, Cao đẳng, Trung cấp,…"  {% if trinhdo is defined %} value="{{trinhdo}}" {% endif %} >
    </div>

    <button type="button" id="addngoaingu" class="btn plus "><i class="fa fa-plus"></i></button>

  </div>
  {% endif %}



</div>
</div><!-- box body -->
</div>
<div class="box box-primary box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Quan hệ nhân thân</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>

    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
   <div class="box-body mqh ">
    {% if mqh is defined %}
    {% for mqh in mqh %}
    
    <div class="moiquanhe ">

      <div class="form-group col-md-3">
        <label for="inputAddress">Mối quan hệ </label>


        <input type="text" class="form-control" name="moiquanhe[]" placeholder="Cha, mẹ, vợ,…" value="{{mqh}}">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress"> Họ và tên</label>
        <input type="text" class="form-control" name="hoten[]" placeholder="Họ và tên" value="{{hoten[loop.index0]}}">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Địa chỉ liên hệ</label>
        <input type="text" class="form-control" name="diachi[]" placeholder="Địa chỉ liên hệ"value="{{diachi[loop.index0]}}">
      </div>
      {% if loop.index0 ==0 %}
      <button type="button" id="addmoiquanhe" class="btn plus"><i class="fa fa-plus"></i></button>

      {% else %}
      <button type="button" id="removemoiquanhe"class="btn plus"><i class="fa fa-minus"></i></button>
      {% endif%}
    </div>
    {% endfor%}
    {% else %}
    <div class="moiquanhe ">

      <div class="form-group col-md-3">
        <label for="inputAddress">Mối quan hệ </label>


        <input type="text" class="form-control" name="moiquanhe[]" placeholder="Cha, mẹ, vợ,…" value="">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress"> Họ và tên</label>
        <input type="text" class="form-control" name="hoten[]" placeholder="Họ và tên" value="">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAddress">Địa chỉ liên hệ</label>
        <input type="text" class="form-control" name="diachi[]" placeholder="Địa chỉ liên hệ"value="">
      </div>
      <button type="button" id="addmoiquanhe" class="btn plus"><i class="fa fa-plus"></i></button>

    </div>

    {% endif%}
    


  </div>
</div>
<!-- /.box-body --> 
<a  class="btn btn-info back" href="/index"> Trở về</a> 
<button type="submit" id="submit" value="submit" class="btn btn-success save">Lưu</button>
</form>
         
         
      </div>  <!-- /row -->
     
    </section>
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
{% block leftslidebar %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
  <li class="header"></li>
  <li class="active treeview">
    <a href="#">
      <i class="fa fa-dashboard"></i> <span>Quản lý nhân sự</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/index"><i class="fa fa-circle-o"></i> Danh sách nhân sự</a></li>
      <li><a href="/user/add"><i class="fa fa-circle-o"></i> Thêm nhân sự</a></li>
    </ul>
  </li>
</ul>

{% endblock %}