{% extends '@App/templates/form.html.twig'%}
{% block title %}Quên tài khoản
{% endblock %}

{% block content %}
 <div class="col-md-4">
 	</div>
 <div class="col-md-4">
 	
          <!-- general form elements -->
            <div class="box box-primary box-solid">
            <div class="box-header with-border titleform">
              <h3 class="box-title">Đăng ký lấy lại tài khoản</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form"  method="post" action="{{path('forgetacc')}}" accept-charset="utf-8">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email </label> <span class="error">*   {%if errors['email'] is defined %}{{errors['email']}} {%endif%}</span>
                  <input type="email" class="form-control" name="email" placeholder="Nhập email"  {%if email is defined %} value="{{email}}"  {%endif%}><br>
                  
                </div>
          
                <div class="form-group">
                  <label for="exampleInputPassword1">Mật khẩu </label>
                  <span class="error">*   {%if errors['password'] is defined %}{{errors['password']}} {%endif%}</span>
                  <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu"><br>
                   
                </div>
             
                <div class="form-group">
                    <input type="checkbox" name="check" value="check" id="check"  > Tôi muốn cấp lại tài khoản !
                    <span class="error">*   {%if errors['check'] is defined %}{{errors['check']}} {%endif%}</span>
                </div>
            
               <div class="col-sm-offset-6 col-sm-10">
                    <p> <a href="/">Đăng nhập </a>| <a href="/forgetpass"> Quên mật khẩu ?</a></p>
                  </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Gửi</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
{% endblock %}