{% extends '@App/templates/form.html.twig'%}
{% block title %}Quên mật khẩu
{% endblock %}

{% block content %}
 <div class="col-md-4">
 	</div>
 <div class="col-md-4">
 	
          <!-- general form elements -->
            <div class="box box-primary box-solid">
            <div class="box-header with-border titleform">
              <h3 class="box-title">Đặt lại mật khẩu</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form"  method="post" action="{{path('forgetpass')}}" accept-charset="utf-8">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email </label> <span class="error">*   {%if errors['email'] is defined %}{{errors['email']}} {%endif%}</span>
                  <input type="email" class="form-control" name="email" placeholder="Nhập email"  {%if email is defined %} value="{{email}}"  {%endif%}><br>
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Tài khoản</label>
                  <span class="error">*   {%if errors['account'] is defined %}{{errors['account']}} {%endif%}</span>
                  <input type="text" class="form-control" name="account" placeholder=" Nhập tài khoản" {%if account is defined %} value="{{account}}"  {%endif%}><br>
               
                 
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mật khẩu mới</label>
                  <span class="error">*   {%if errors['password'] is defined %}{{errors['password']}} {%endif%}</span>
                  <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu"><br>
                   <small>- 'Mật khẩu phải từ 5-20 kí tự !</small>
                </div>
                <div class="form-group">
                  <label>Nhập lại mật khẩu </label> <span class="error">*   {%if errors['confirmpassword'] is defined %}{{errors['confirmpassword']}} {%endif%}</span><br>
                  <input type="password" id="password"class="form-control"  name="confirmpassword" value="">
                 <br><small> Mật khẩu nhập lại phải trùng với mật khẩu đã nhập !</small>
                </div>
            
               <div class="col-sm-offset-6 col-sm-10">
                    <p> <a href="/">Đăng nhập </a>| <a href="/forgetacc"> Quên tài khoản ?</a></p>
                  </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Đăng nhập</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
{% endblock %}