{% extends '@App/templates/template.html.twig'%}
{% block title %} Thông tin nhân sự {% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Thông tin nhân sự
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Danh sách nhân sự</li>
        <li class="active"><a href="info.html">Thông tin nhân sự</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
     
        <div class="row">
                <div class="col-md-3">
        
                  <!-- Profile Image -->
                  <div class="box box-primary">
                    <div class="box-body box-profile">
                      <img class="profile-user-img img-responsive img-circle"  src="../../userfiles/{{user.anh}}" alt="User profile picture">
        
                      <h3 class="profile-username text-center">{{user.ten}}</h3>
        
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
        
                  <!-- About Me Box -->
                  <div class="box box-primary">
                      <div class="box-header with-border">
                          <strong class="box-title">Thông tin chung</strong>
                      <div class="box-tools pull-right">
                     
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                        </div>
                      </div>
                    
                    <!-- /.box-header -->
                    <div class="box-body" id="thongtinchung">

                            <p class="text-muted "><strong>Mã nhân viên : </strong>{{user.manv}} </p>
                            <hr>
                            <p class="text-muted tt"><strong>Giới tính : </strong> {{user.gioitinh}}</p>
                            <hr>
                            <p class="text-muted tt"><strong>Ngày sinh : </strong> {{user.ngaysinh|date("m/d/Y")}}</p>
                            <hr>
                            <p class="text-muted tt"><strong>Quốc tịch : </strong> {{user.quoctich}}</p>
                            <hr>
                            <p class="text-muted tt"><strong>Dân tộc : </strong>{{user.dantoc}}</p>
                            <hr>
                            <p class="text-muted tt"><strong>Tôn giáo : </strong> {{user.tongiao}}</p>
                            <hr>
                            <p class="text-muted tt"><strong>Số cmnd : </strong> {{user.socmnd}}</p>
                            <hr>
                            <p class="text-muted tt"><strong>Ngày cấp : </strong> {{user.ngaycap|date("m/d/Y")}}</p>
                            <hr>
                            <p class="text-muted tt"><strong>Nơi cấp : </strong> {{user.noicap}}</p>
                          
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                  <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#ttlienlac" data-toggle="tab">Thông tin liên lạc</a></li>
                      <li><a href="#dacdiem" data-toggle="tab">Đặc điểm bản thân</a></li>
                      <li><a href="#trinhdo" data-toggle="tab">Trình độ , Kỹ năng</a></li>
                      <li><a href="#nhanthan" data-toggle="tab">Quan hệ nhân thân</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="active tab-pane" id="ttlienlac">
                            <strong><i class="fa  fa-mobile-phone margin-r-5"></i> Di động</strong>
                            <p class="text-muted margin-r-5">{{user.didong}}</p>
                            <hr>
                            <strong><i class="fa fa-envelope margin-r-5"></i> Email</strong>
                            <p class="text-muted margin-r-5">{{user.email}}</p>
                            <hr>
                            <strong><i class="fa fa-skype margin-r-5"></i> Skype</strong>
                            <p class="text-muted margin-r-5">{{user.skype}}</p>
                            <hr>
                            <strong><i class="fa fa-facebook-official margin-r-5"></i> Facebook</strong>
                            <p class="text-muted margin-r-5"> {{user.facebook}}</p>
                            <hr>
                            <h5>Địa chỉ cư trú :</h5>
                            <strong><i class="fa  fa-map-marker margin-r-5"></i> Quốc gia</strong>
                            <p   class="text-muted margin-r-5">{{user.quocgia}}</p>
                            <hr>
                            <strong><i class="fa fa-map-marker  margin-r-5"></i> Tỉnh , thành phố</strong>
                            <p  class="text-muted margin-r-5"> {{user.tinhthanh}}</p>
                            <hr>
                            <strong><i class="fa fa-map-marker margin-r-5"></i> Quận , huyện</strong>
                            <p class="text-muted margin-r-5"> {{user.quanhuyen}}</p>
                            <hr>
                            <strong><i class="fa fa-map-marker margin-r-5"></i> Phường Xã</strong>
                            <p class="text-muted margin-r-5"> {{user.phuongxa}}</p>
                            <hr>
                      </div>
                      
                      
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="dacdiem">
                            <strong><i class="fa  fa-user-plus margin-r-5"></i> Tình trạng hôn nhân</strong>
                            <p class="text-muted margin-r-5"> {{user.honnhan}}</p>
                            <hr>
                            <strong><i class="fa fa-long-arrow-up margin-r-5"></i> Chiều cao</strong>
                            <p class="text-muted margin-r-5"> {{user.chieucao}}</p>
                            <hr>
                            <strong><i class="fa fa-heartbeat margin-r-5"></i> Nhóm máu</strong>
                            <p class="text-muted margin-r-5"> {{user.nhommau}}</p>
                            <hr>
                            <strong><i class="fa fa-user-secret margin-r-5"></i> Thành phần xuất thân</strong>
                            <p class="text-muted margin-r-5"> {{user.xuatthan}}</p>
                            <hr>
                            <strong><i class="fa fa-thumbs-o-up margin-r-5"></i> Sở thích cá nhân</strong>
                            <p class="text-muted margin-r-5">{{user.sothich}}</p>
                            <hr>
                      </div>
                      <!-- /.tab-pane -->
        
                      <div class="tab-pane" id="trinhdo">
                            <h4>Trình độ học vấn</h4>
                              <table class="table table-hover">
                                    <tr>
                                      <th class="stt">STT</th>
                                      <th>Trình độ đào tạo</th>
                                      <th>Ngành đào tạo</th>
                                     
                                    </tr>
                                      {% for daotao in daotao %}
                                    <tr>
                                      <td>{{loop.index}}</td>
                                      <td>{{daotao}} </td>
                                      <td> {{nganh[loop.index0]}} </td>
                                      
                                    </tr>

                                      {%endfor%}
                            </table>
                            <br>
                            <h4>Trình độ ngoại ngữ</h4>
                             <table class="table table-hover">
                                    <tr>
                                      <th class="stt">STT</th>
                                      <th> Ngoại ngữ</th>
                                      <th>Trình độ ngoại ngữ</th>
                                    </tr>
                                      {% for ngoaingu in ngoaingu %}
                                    <tr>
                                      <td>{{loop.index}}</td>
                                      <td>{{ngoaingu}} </td>
                                      <td> {{trinhdo[loop.index0]}} </td>
                                      
                                    </tr>

                                      {%endfor%}
                            </table>
                           
                      </div>

                      <div class="tab-pane" id="nhanthan">
                            <table class="table table-hover">
                                    <tr>
                                      <th class="stt">STT</th>
                                      <th>Mối quan hệ</th>
                                      <th>Họ tên</th>
                                      <th>Địa chỉ liên lạc</th>
                                    </tr>
                                      {% for mqh in mqh %}
                                    <tr>
                                      <td>{{loop.index}}</td>
                                      <td>{{mqh}} </td>
                                      <td> {{ht[loop.index0]}} </td>
                                      <td> {{diachi[loop.index0]}} </td>
                                    </tr>

                                      {%endfor%}
                            </table>
                                 
                        </div>
                      
                      </div>
                      <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                  </div>
                  <!-- /.nav-tabs-custom -->
                </div>
                <a  class="btn btn-primary back_primary" href="/index"> Trở về</a>
                <!-- /.col -->
              </div>
              <!-- /.row -->      
     
    </section>
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
{% block leftslidebar %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
  <li class="header"></li>
  <li class="active treeview">
    <a href="#">
      <i class="fa fa-dashboard"></i> <span>Quản lý nhân sự</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/index"><i class="fa fa-circle-o"></i> Danh sách nhân sự</a></li>
      <li><a href="/user/add"><i class="fa fa-circle-o"></i> Thêm nhân sự</a></li>
    </ul>
  </li>
</ul>

{% endblock %}