{% extends '@App/templates/form.html.twig'%}
	{% block title %}Đăng nhập
	{% endblock %}
	
	{% block content %}
	
	
		
	{% include '@App/templates/loginform.html.twig'%}

	
    {% endblock %}
   
	
	{% block notify %}
    <div class="box box-primary box-solid " id="myNoti">
                          <div class="box-header with-border">
                            <h3 class="box-title">Thông báo</h3>

                            <div class="box-tools pull-right">
                              <button type="button" class="btn btn-box-tool btnNotify"><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /.box-tools -->
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body" >
                            <h5>{{notiAcc}}</h5>
                          </div>
                          <!-- /.box-body -->
  </div>

        
    {% endblock %}

		

	

