{% extends '@App/templates/form.html.twig'%}
{% block title %}Đăng ký
{% endblock %}

{% block content %}
 <div class="col-md-3">
 	</div>
 <div class="col-md-6 ">
 	
          <!-- general form elements -->
            <div class="box box-primary box-solid login">
            <div class="box-header with-border titleform">
              <h3 class="box-title">Đăng ký</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form"  method="post" action="{{path('register')}}" enctype="multipart/form-data" accept-charset="utf-8">
              <div class="box-body register">
                <div class="row">
                  <div class="col-sm-6">
                       <div class="form-group">
                      <label for="exampleInputEmail1">Email </label> <span class="error">*   {%if errors['email'] is defined %}{{errors['email']}} {%endif%}</span>
                      <input type="email" class="form-control" name="email" placeholder="Nhập email"  {%if email is defined %} value="{{email}}"  {%endif%}>
                    </div>
                    <br><br>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Tài khoản</label>
                      <span class="error">*   {%if errors['account'] is defined %}{{errors['account']}} {%endif%}</span>
                      <input type="text" class="form-control" name="account" placeholder=" Nhập tài khoản" {%if acc is defined %} value="{{acc}}"  {%endif%}><br>
                      <small>- Tài khoản chỉ bao gồm chữ số từ 0-9,_ và chữ cái a-z,A-Z !</small><br>
                      <small>- Tài khoản phải từ 5-20 kí tự !</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputFile">Ảnh đại diện</label>
                      <span class="error">*   {%if errors['image'] is defined %}{{errors['image']}} {%endif%}</span>
                      <input type="file" name="image" id="picture">
                    </div>
                </div>
                <div class="col-sm-6">
                  
                <div class="form-group">
                  <label for="exampleInputPassword1">Mật khẩu</label>
                  <span class="error">*   {%if errors['password'] is defined %}{{errors['password']}} {%endif%}</span>
                  <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu"><br>
                   <small>- Mật khẩu phải từ 5-20 kí tự !</small>
                </div>
                 <div class="form-group">
                  <label>Nhập lại mật khẩu </label> <span class="error">*   {%if errors['confirmpassword'] is defined %}{{errors['confirmpassword']}} {%endif%}</span><br>
                  <input type="password" id="password" class="form-control"  name="confirmpassword" value="">
                 <br><small>- Mật khẩu nhập lại phải trùng với mật khẩu đã nhập !</small>
                 <br><br><br><br>
                  <div class="form-group">
                  <p>Bạn đã có tài khoản ?  <a type="button"class="btn btn-default"  href="/"> Đăng nhập </a></p> 
              </div>
               
                </div>
              </div>
                
             
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Đăng ký</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
{% endblock %}