<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cảnh báo</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<base href="{{ asset('bundles/app/')}}">
	{% include '@App/templates/linktag.html.twig' %}
</head>
<body>
	<header id="header" class="header" style="background-color: #3c8dbc; width: 100%;height: 50px;">	
	</header><!-- /header -->
	<section class="content">
		<div class="modal modal-danger fade in" style="display: block;" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cảnh báo</h4>
                    </div>
                    <div class="modal-body">
                        <p>Bạn cần có tài khoản để quản lý trang admin ? </p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-outline pull-left" data-dismiss="modal" href="{{path('register')}}">Đăng ký</a>
                        <a type="button" class="btn btn-outline" href="{{path('login')}}"  >Đăng nhập</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
    </div>
	</section>
	{% include '@App/templates/scripttag.html.twig' %}
</body>
</html>